<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>CHANGE ME</title>
	<!-- STYLESHEETS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/main.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
</head>

<body>
  <section class="container" id="listing-section">    
    <div class="row">
      <nav class="main-nav">
          
            <li><a href="#">Home</a></li>
            <li><a href="#">View Happy Hours</a></li>
            <li><a href="#">About Us</a></li>  
          </ul>
          
      </nav>
    </div>
    <div id="listing-image">
      <!-- <img src="CHANGE ME" alt="CHANGE ME" class="logo"> -->

    </div>

  </section>

  <section class="container" id="reviews-section">
    <div class="row">
      <h2>Reviews</h2>
    </div>
    
    <div class="row" id="one-review">
      <script id="review-template" type="text/x-handlebars-template">  
        {{#each reviews}}
        <div class="col m4">
          <blockquote>{{userReview}}</blockquote>
          <p>{{username}}</p>

          
          <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-{{_id}}">
            <span><button class="updateBtn btn waves-effect waves-light" id="updateBtn">Update</button></span>
          </a>
          <a href="javascript:void(0)" class="delete-review">
            <button class="btn waves-effect waves-light" id="deleteBtn">Delete</button>
          </a>
          <!-- form to update review -->
          <div class="collapse" id="update-{{_id}}">
            <input id="updateInput" value="{{userReview}}">
            <button class="btn waves-effect waves-light" id="saveBtn" data-id={{_id}}>Save</button>
            <button class="btn waves-effect waves-light" id="cancelBtn">Cancel</button>
          </div>

        </div>
        {{/each}}
      </script>
      </div>
    </div>
  </section>
  <section class="container" id="modal-section">
    <div class="row">
      <div class="row">
      
      <!-- Modal Trigger -->
        <button class="waves-effect waves-light btn modal-trigger" data-target="modal1" id="add-review-btn">Add Review</button>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Add a Review</h4>

            <div class="row">
              <form class="col s12">
                <div class="row modal-form-row">
                  <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label for="name">Your Name</label>
                  </div>
                </div>
                




                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="image_description" type="text" class="materialize-textarea validate"></textarea>
                    <label for="image_description">Your Review</label>
                  </div>
                </div>  

              </form>


            </div>
          </div>
          <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
          </div>
        </div>
    </div>


  </section>
  
</body>