<header>
   <div class="hero-text-box">
   		<hr>
   		<h1>The Best Hour</h1>
   		<hr>
   </div>
</header>
<section class="container" id="viewhappyhours-section">
	<div class="row">
		<h2>Happy Hours in SF</h2>	
	</div>	
	<div class="row" id="happy-hour-section" ng-controller="IndexController as indexCtrl">
		<div ng-repeat="happyHours in indexCtrl.happyHours">
			<a ng-href="/happyHours/{{happyHours._id}}">
				<div class="col m4 card-panel hoverable">
					<img ng-src="{{happyHours.indexImage}}" alt="{{happyHours.name}}">
					<h3>{{happyHours.name}}</h3>
					<p>{{happyHours.location}}</p>
					<p>{{happyHours.price}}</p>
				</div>
			</a>
		</div>
	</div>
</section>
