<header>
   <div class="hero-text-box">
   		<hr>
   		<h1>The Best Hour</h1>
   		<hr>
   </div>
</header>
<section class="container" id="viewhappyhours-section">
	<div class="row">
		<h2>Happy Hours in SF</h2>	
	</div>	
	<div class="row" id="happy-hour-section">
		<div ng-repeat="happyHour in indexCtrl.happyHours" class="col m4 card-panel hoverable">
			<a ng-href="/happyHours/{{happyHour._id}}">
				
				<img ng-src="{{happyHour.indexImage}}" alt="{{happyHour.name}}">
				<h3>{{happyHour.name}}</h3>
				<p>{{happyHour.location}}</p>
				<p>{{happyHour.price}}</p>
				
			</a>
		</div>
	</div>
</section>
