body {
    font-family: 'Raleway', sans-serif;
}

.nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.nav li {
    display: inline-block;
    margin-right: 40px;   
}

.nav a {
	color: white;
	font-size: 20px;
}

h2 {
	text-align: center;
}

.nav a:hover {
	color: #90a4ae;
}