/**********LISTINGS PAGE************/
body {
	background-color: #78909c;
}

#palm-house-img {
	width: 100%;
}

#name-heading {
	color: white;
	position: absolute;
	margin-top: 15%;
}

#listing-navbar li {
	display: inline;
	padding: 1em;
	font-size: 1.25em;
}

#listing {
	font-size: 1.5em;
}

/**********INFO section************/
.header {
	text-align: center;
	color: #37474f;
}

#happy-hour-info {
	text-align: center;
	font-size: 1.5em;
	color: #37474f;
}

.general-info {
	text-align: center;
	border-left: 1px solid black;
	vertical-align: text-bottom;
	color: #37474f;
}

#listing-location {
	border-left: none;
}

#listing-price span {
	display: none;
}

#listing-website a {
	text-decoration: none;
}

#dollar {
	width: 1.5em;
}

/**********REVIEW PAGE************/
#reviews-heading {
	text-align: center;
	color: white;
	font-size: 4em;
}

.hidden {
	visibility: hidden;
}

.update-btn-div {
	display: inline;
}

.delete-btn-div {
	display: inline;
}

/**********MODAL************/
#modal-section {
	background-color: white;
}